<!DOCTYPE html>
<html>
<head>
	<title>Nasdaq Stock Price Checker</title>
	<meta name="description" content="freeCodeCamp - Information Security and Quality Assurance Project: Stock Price Checker">
	<link rel="shortcut icon" href="https://cdn.glitch.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	<link rel="stylesheet" href="./public/style.css">
	<!-- Your web-app is https, so your scripts need to be too -->
	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" crossorigin="anonymous"></script>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col">
				<div class="jumbotron p-4">
					<div class="container">
						<header>
							<h1 id="title" class="text-center">Nasdaq Stock Price Checker</h1>
						</header>

						<div id="userstories">
							<h3>User Stories:</h3>
							<ol>
								<li>Set the content security policies to only allow loading of scripts and css from your server. (this was ignored to allow scripts so the forms below work)</li>
								<li>I can <b>GET</b> <code>/api/stock-prices</code> with form data containing a Nasdaq <i>stock</i> ticker and recieve back an object <i>stockData</i>.</li>
								<li>In <i>stockData</i>, I can see the <i>stock</i> (string, the ticker), <i>price</i> (decimal in string format), and <i>likes</i> (int).</li>
								<li>I can also pass along field <i>like</i> as <b>true</b> (boolean) to have my like added to the stock(s). Only 1 like per IP address should be accepted.</li>
								<li>If I pass along 2 stocks, the return object will be an array with both stock's info but instead of <i>likes</i>, it will display <i>rel_likes</i> (the difference between the likes on both) on both.</li>
								<li>A good way to receive the current price is the following external API (replacing 'goog' with your stock):<br> <code>https://cloud.iexapis.com/stable/stock/goog/quote/latestPrice?token=YOUR_TOKEN_HERE</code><br> (Register for free at <a href="https://iexcloud.io" target="_blank">IEX Cloud</a> to get your API Token)</li>
								<li>All 5 functional tests are complete and passing.</li>
							</ol>
							<h3>Example usage:</h3>
							<ul>
								<li><code><a href="/api/stock-prices?stock=goog">/api/stock-prices?stock=goog</a></code></li>
								<li><code><a href="/api/stock-prices?stock=goog&like=true">/api/stock-prices?stock=goog&amp;like=true</a></code></li>
								<li><code><a href="/api/stock-prices?stock=msft">/api/stock-prices?stock=msft</a></code></li>
								<li><code><a href="/api/stock-prices?stock=msft&like=true">/api/stock-prices?stock=msft&amp;like=true</a></code></li>
								<li><code><a href="/api/stock-prices?stock=goog&stock=msft">/api/stock-prices?stock=goog&amp;stock=msft</a></code></li>
								<li><code><a href="/api/stock-prices?stock=goog&stock=msft&like=true">/api/stock-prices?stock=goog&amp;stock=msft&amp;like=true</a></code></li>
							</ul>
							<h3>Example return:</h3>
							<p>
								<code>{"stockData":{"stock":"GOOG","price":"786.90","likes":1}}</code><br>
								<code>{"stockData":[{"stock":"MSFT","price":"62.30","rel_likes":-1},{"stock":"GOOG","price":"786.90","rel_likes":1}]}</code>
							</p>
						</div>

						<hr>

						<div id="testui">
							<h2>Front-End:</h2>
							<div class="row">
								<div class="col">
									<h3>Get single price and total likes</h3>
									<form class="testForm form-inline">
										<div class="form-group mb-0">
											<input class="form-control mr-2" type="text" name="stock" placeholder="goog" required>
											<div class="custom-control custom-checkbox mr-2">
												<input id="likeCheckbox" class="custom-control-input" type="checkbox" name="like" value="true">
												<label class="custom-control-label" for="likeCheckbox">Like</label>
											</div>
										</div>
										<button class="btn btn-primary" type="submit">Get Price!</button>
									</form>
								</div>
								<div class="col">
									<h3>Compare and get relative likes</h3>
									<form class="testForm form-inline">
										<div class="form-group mb-0">
											<input class="form-control mr-2" type="text" name="stock" placeholder="goog" required>
											<input class="form-control mr-2" type="text" name="stock" placeholder="msft" required>
											<div class="custom-control custom-checkbox mr-2">
												<input id="likeBothCheckbox" class="custom-control-input" type="checkbox" name="like" value="true">
												<label class="custom-control-label" for="likeBothCheckbox">Like both</label>
											</div>
										</div>
										<button class="btn btn-primary" type="submit">Get Price!</button>
									</form>
								</div>
							</div>

							<p class="mt-2">
								<code id="jsonResult"></code>
							</p>
						</div>

						<hr>

						<div class="footer text-center">
							<p><a href="https://iexcloud.io" target="_blank">Data provided by IEX Cloud</a></p>
							<p>by <a href="https://www.freecodecamp.org" target="_blank">freeCodeCamp</a> (ISQA5) & <a href="https://www.freecodecamp.org/adam777" target="_blank">Adam</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script>
	$(function() {
		$('.testForm').submit(function(e) {
			e.preventDefault();
			$.ajax({
				url: '/api/stock-prices',
				type: 'get',
				data: $(this).serialize(),
				success: function(data) {
					$('#jsonResult').text(JSON.stringify(data));
				}
			});
		});
	});
	</script>
</body>
</html>
